.chli {
  height: 100%;
}
.chli .label-external {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.chli .chli-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  height: 100%;
}
.chli .chli-link.label-outside {
  padding: 20px;
}
.chli .chli-link .label {
  font-size: 28px;
  line-height: 45px;
  color: #ff8c00 !important;
  margin-top: 40px;
  text-align: center;
}
.chli .chli-link .img img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.fl-module-column-hover-link-img,
.fl-module-column-hover-link-img .fl-module-content {
  height: 100%;
}
