.fl-module-button {
  &.slim .button {
    padding: 15px 20px;
  }
  &.wide .button {
    padding: 15px 80px;
    @include breakpoint(small down) {
      width: 100%;
      padding: 15px 15px;
      text-align: center;
    }
  }
  &.max .button {
    display: block;
    width: 100%;
  }
  &.outline .button {
    @include button-outline;
  }
}
