.featured-studies {
  display: flex;
  flex-wrap: wrap;
  .study {
    display: flex;
    position: relative;
    align-items: center;
    height: 500px;
    width: 50%;
    overflow: hidden;
    @include breakpoint(medium down) {
      width: 100%;
      max-width: 510px;
      margin: 0 auto;
    }
    @include breakpoint(small down) {
      height: 340px;
    }
  }
  .wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    height: 100%;
    justify-content: center;
    > div {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    > img.case-bg {
      display: block;
      height: auto;
      width: 100%;
      position: absolute;
      z-index: 0;
    }
    &.flip {
      background-color: $smg-gray-2;
      height: 100%;
      max-width: 100%;
      top: 0;
      left: 0;
      transform: none;
      > a.button.outline {
        width: calc(100% - 90px);
        margin: 0 auto;
        &:hover {
          background-color: $brand-color-2;
        }
      }
      .wrap {
        flex-wrap: wrap;
        padding: 45px;
        margin-bottom: 0;
        height: calc(100% - 100px);
        .item {
          // Layout
          // NON text styling
          // Font styling
          // Animations/Transforms
          display: flex;
          margin-bottom: 30px;
          font-size: 18px;
          color: #fff;
          align-items: flex-start;
          // svg {
          //   width: 41px;
          //   margin-right: 18px;
          //   flex: 0 0 auto;
          // }
          img {
            margin-right: 18px;
            flex: 0 0 auto;
          }
          span {
            flex: 1 1 auto;
            align-self: center;
          }
        }
      }
    }
    .wrap {
      display: flex;
      align-items: center;
      height: 140px;
      margin-bottom: 40px;
      width: 100%;
      @include breakpoint(small down) {
        max-width: calc(100% - 90px);
        margin: 0 auto;
      }
    }
    img,
    svg {
      display: block;
      width: auto;
      margin: 0px auto;
    }
    svg {
      width: 100%;
      max-width: 375px;
      height: auto;
    }
    .button {
      display: block;
      width: calc(100% - 90px);
      margin: 0 auto;
      position: absolute;
      bottom: 38px;
      left: 50%;
      transform: translateX(-50%);
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .study {
    perspective: 1000px;
  }
  /* flip the pane when hovered */
  .study:hover .flipper,
  .study.hover .flipper {
    @include breakpoint(large up) {
      transform: rotateY(180deg);
    }
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  /* hide back of pane during swap */
  .inner,
  .inner.flip {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .inner {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .inner.flip {
    z-index: 1;
    transform: rotateY(180deg);
  }
}
