.m-icon-group {
  margin-bottom: 25px;
  @include breakpoint( medium only ) {
    padding-left: 60px;
    padding-right: 60px;
  }
  .fl-icon {
    vertical-align: top;
    padding-top: 10px;
    @include breakpoint( small down ) {
      display: block;
      text-align: center;
      padding-bottom: 13px;
      i {
        float: none;
      }
    }
  }
  .fl-icon-text{
    padding-left: 30px;
    @include breakpoint( small down ) {
      display: block;
      text-align: center;
      padding-left: 0;
    }
  }
  h3 {
    margin-bottom:0;
    font-size: 28px;
    font-weight: 800;
    color: #fff;  
  }
}