@include breakpoint(medium down) {
  #front-portfolio-slider {
    .portfolio-inner {
      > img {
        max-width: 75%;
      }
    }
    .mobile-phone {
      // width: 212px;
      // height: 383px;
      width: 192px;
      height: 310px;
      top: 12px;
      left: 62px;
      background-size: contain;
      .mobile-inner {
        // height: 334px;
        height: 281px;
        img {
          top: 49px !important;
          left: 4px !important;
          max-width: 131px !important;
          // top: 59px !important;
          // left: 5px !important;
          // max-width: 155px !important;
        }
      }
    }
  }
}
#front-portfolio-slider {
  .slick-arrow {
    z-index: 2;
    &:hover {
      svg path {
        fill: $brand-color-2;
      }
    }
  }
}
