.fl-text.default * {
}
.fl-text.preset-1 * {
  font-family: "selimaregular";
  font-size: 200px;
  letter-spacing: -5.71px;
  line-height: 228px;
  @include breakpoint(medium only) {
    font-size: 80px;
    line-height: 90px;
  }
  @include breakpoint(small down) {
    font-size: 65px;
    line-height: 70px;
  }
}
.fl-text.preset-2 * {
  font-size: 21px;
  font-weight: 800;
  line-height: 28px;
  text-transform: uppercase;
}
.fl-text.preset-3 * {
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  text-transform: uppercase;
}
.fl-text.preset-4 * {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
}
.fl-text.preset-5 * {
  font-size: 30px;
  font-weight: 800;
  line-height: 41px;
  text-transform: uppercase;
}
.fl-text.preset-6 * {
}

.scripty-large {
  .fl-text.preset-1 * {
    @include breakpoint(medium only) {
      font-size: 95px;
      line-height: 75px;
    }
    @include breakpoint(small down) {
      font-size: 95px;
      line-height: 75px;
    }
  }
}
