.page-template-page-full-width-no-header {
  .no-header-height {
    min-height: 139px; // 150px;
    @include breakpoint(medium down) {
      min-height: 107px;
    }
    @include breakpoint(small down) {
      min-height: 171px;
    }
  }
  .review-slider-white {
    color: #fff;
    font-size: 18px;
  }
  .smg-logo-form {
    background-image: url(../images/form-bg-comp.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 25px 30px 25px;
    position: relative;
    z-index: 1;
    h4 {
      font-size: 21px;
      color: #fff;
      padding-top: 10px;
      font-weight: 100;
    }
    .gform_wrapper .gform_footer .gform_button {
      width: 100%;
      @include breakpoint(medium down) {
        padding: 16px 16px;
        white-space: unset;
      }
    }
  }
  .orange-bullet-2-column {
    ul {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      li {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        width: 50%;
        padding-left: 20px;
        margin-bottom: 25px;
        list-style-type: none;
        @include breakpoint(small down) {
          width: 100%;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 10px;
          left: 0;
          width: 7px;
          height: 7px;
          background-color: $brand-color-2;
          border-radius: 50%;
        }
      }
    }
  }
  .fl-module-button {
    .button {
      @include button-outline;
      background-color: transparent;
      &:hover {
        background: $brand-color-2;
      }
    }
  }
  .team-slider {
    .fl-content-slider-svg-container {
      height: 23px;
      width: 81px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      svg {
        display: none;
      }
    }
    .slider-prev {
      background-image: url(https://www.sanctuarymg.com/wp-content/uploads/2018/11/arrow-left.svg);
    }
    .slider-next {
      background-image: url(https://www.sanctuarymg.com/wp-content/uploads/2018/11/arrow-right.svg);
    }
    .fl-content-slider {
      min-height: 300px;
    }
    .fl-slide {
      min-height: 300px;
      .fl-slide-foreground {
        display: flex;
        .fl-slide-photo-wrap {
          order: 0;
          .fl-slide-photo {
            margin-top: 0;
            margin-bottom: 0;
            width: 375px; // 265px;
            @include breakpoint(medium only) {
              width: 265px;
            }
          }
        }
        .fl-slide-content-wrap {
          order: 1;
          width: auto;
          display: flex;
          align-items: center;
          .fl-slide-content {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
            background-color: transparent;
            h2 {
              color: $brand-color-2;
              font-weight: 100;
              text-transform: none;
              margin-bottom: 0 !important;
            }
            p {
              color: $smg-black-1;
              @include breakpoint(small down) {
                font-size: 18px !important;
                line-height: 1.5 !important;
              }
            }
          }
        }
      }
    }
  }
}
