#team-gallery {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  .team-gallery-bg {
    cursor: pointer;
    width: 25vw;
    height: 25vw;
    float: left;
    transition: 0.3s all ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100.5% auto;
    &:hover {
      transition: 0.3s all ease-in-out;
      background-size: 105% auto;
    }
    @include breakpoint(small down) {
      height: 100vw;
      width: 100vw;
    }
    &.larger {
      height: 50vw;
      width: 50vw;
      @include breakpoint(small down) {
        height: 100vw;
        width: 100vw;
      }
    }
  }
}
#team-single {
  #team-header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    &:before {
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100vh;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }

    #team-name-title {
      @include smg-row();
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      bottom: 12%;
      transform: translateX(-50%);
      font-size: 35px;
      h1 {
        color: #fff;
        font-size: 63px;
        font-weight: 700;
        line-height: 1.1em;
        margin-bottom: 15px;
        @include breakpoint(small down) {
          font-size: 40px;
        }
      }
      p {
        text-align: center;
        color: #fff;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
  #team-header {
    &:before {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
