.white-paper {
  #white-paper-header {
    display: block;
    position: relative;
    min-height: 600px;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.35);
    }
    @include breakpoint(small down) {
      height: 100%;
    }
    .entry-title {
      @include smg-row();
      width: 100%;
      padding: 0 15px;
      position: absolute;
      left: 50%;
      bottom: 120px;
      transform: translateX(-50%);
      color: #fff;
      font-size: 63px;
      font-weight: 700;
      line-height: 1.1em;
      text-align: center;
      z-index: 2;
      @include breakpoint(small down) {
        bottom: 100px;
        font-size: 40px;
      }
      span {
        display: block;
        margin: 15px 0px 0px;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
      }
    }
    .slight-next {
      animation-name: slight-next;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%;
      cursor: pointer;
      display: block;
      width: 67px;
      height: 26px;
      position: absolute;
      top: calc(100% - 80px);
      left: calc(50% - 34px); // 50%;
      transform: translateX(-50%);
      z-index: 2;
      @include breakpoint(small down) {
        top: 530px;
      }
    }
  }
}