.single-portfolio {
  #header:not(.not-top) {
    background: linear-gradient(
      to bottom,
      rgba($smg-gray-1, 0.75) 20%,
      rgba($smg-gray-1, 0) 100%
    );
  }
}

#post.portfolio-single,
#case-study,
#team-single {
  header {
    padding-bottom: 20px;
  }
  .entry-content {
    padding-top: 0px; // 50px;
    padding-bottom: 0px;
  }
  #portfolio-header,
  #case-study-header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    @include breakpoint(small down) {
      overflow: hidden;
    }
    &:before {
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    @include breakpoint(small down) {
      height: auto;
      padding-top: 185px;
      padding-bottom: 100px;
    }
    h1 {
      @include smg-row();
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 20px;
      color: #fff;
      font-size: 63px;
      font-weight: 700;
      line-height: 1.1em;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      @include breakpoint(small down) {
        font-size: 40px;
        transform: none;
        position: relative;
        left: 0;
        top: 0;
      }
    }
    #case-study-text-overlay {
      @include smg-row();
      padding: 0 15px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      @include breakpoint(small down) {
        position: relative;
        width: 100%;
        left: auto;
        top: auto;
        transform: none;
      }
      h1 {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
      }
    }
    #case-study-subtitle {
      font-size: 26px;
      font-weight: 600;
      line-height: 36px;
      color: #fff;
      text-align: center;
    }
  }
  .slight-next {
    animation-name: slight-next;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    cursor: pointer;
    width: 67px;
    height: 26px;
    position: absolute;
    top: 90%;
    left: calc(50% - 34px); // 50%;
    transform: translateX(-50%);
    @include breakpoint(small down) {
      bottom: -35px;
      top: auto;
    }
  }
}
#smg-breadcrumbs {
  @include smg-row();
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 65px;
  #breadcrumbs {
    font-size: 16px;
  }
}

#team-single .slight-next {
  bottom: auto;
  top: 90%;
}
