.web-dev-form-header .gform_wrapper .gform_footer .gform_button {
  width: 100%;
  white-space: inherit;
}
.web-dev-form-footer .gform_wrapper .gform_footer .gform_button {
  width: calc(50% - 15px);
  white-space: inherit;
  @include breakpoint(medium down) {
    width: 100%;
  }
}
