.custom-gradient-h1 {
  h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    line-height: 1.1;
    span.gradient-text {
      display: block;
      font-size: 62px;
      color: $brand-color-1;
      @include breakpoint(small down) {
        font-size: 52px;
      }
    }
  }
}
#seo-landing-header {
  ul {
    padding-left: 20px;
    li {
      color: #fff;
      font-size: 21px;
      line-height: 36px;
      list-style-type: none;
      position: relative;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #ffc100;
        border-radius: 100%;
        position: absolute;
        left: -18px;
        top: 15px;
      }
    }
  }
}

#post-14520,
#post-14783,
#post-15207 {
  .col-phone {
    p {
      margin: 0;
      padding: 7px 0;
      @include breakpoint(small down) {
        text-align: center;
        margin-bottom: 15px;
      } 
    } 
    a {
      display: inline-block;
      color: #000;
      font-size: 18px;
      letter-spacing: -0.04px;
      line-height: 26px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .col-privacy {
    @include breakpoint(medium only) {
      width: 45% !important;
    }
  }
  .fl-module-rich-text {
    h3 {
      font-size: 24px;
      line-height: 27px;
      font-weight: normal;
    }
  }
  .section-2 {
    .gform_wrapper {
      margin-bottom: 22px;
      .gform_body {
        margin-top: 0 !important;
        .gform_fields .gfield {
          margin-bottom: 10px !important;
        }
        #field_29_3 {
          margin-bottom: 18px !important;
        }
      }
    }
    .gform_button {
      display: block;
      width: 100%;
    }
  }
  .section-3 {
    .fl-module-rich-text h2 {
      margin-bottom: 0 !important;
    }
    .preset-4 {
      h2 {
        font-size: 35px !important;
        line-height: 45px !important;
      }
    }
  }
  .section-5 {
    @include breakpoint(small down) {
      .fl-row-content-wrap {
        padding-top: 0 !important;
        background-image: none !important;
      }
    }
  }
  .section-6 {
    iframe {
      height: 416px !important;
    }
  }
  .section-8 {
    .gform_wrapper {
      margin-bottom: 22px;
      // height: 300px;
      // overflow: hidden;
      .gform_body {
        margin-top: 12px !important;
        .gform_fields .gfield {
          margin-bottom: 10px !important;
          label,
          .gfield_description {
            color: #000;
          }
        }
        #field_30_11 {
          margin-bottom: 18px !important;
        }
      }
    }
    .gform_button {
      display: block;
      width: 100%;
    }
    #show-all-form-lp {
      display: flex;
      justify-content: center;
      margin-top: -22px;
      top: -15px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      span {
        background-color: $smg-gray-1;
        color: #fff;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        padding: 4px 15px;
      }
    }
    // .show-whole-form {
    //   height: 100%;
    //   overflow: visible;
    // }
  }
  #img-slider {
    .img-slide img {
      padding: 20px;
      margin: 0 auto;
    }
  }
}
