.source-no-mb p {
  margin-bottom: 0;
}
.li-white ul li {
  color: #fff;
}
.li-white ul li ul li {
  list-style-image: url(../images/svg/li-caret.svg);
}
.FF8C00-orange-button .fl-button-wrap .button,
.FF8C00-orange-button .fl-button-wrap.smg_orange .button {
  background-color: #ff8c00;
  &:hover {
    background-color: rgba(33, 28, 21, 0.25);
  }
}

@include breakpoint(medium only) {
  .button-center-tablet {
    .fl-button-wrap {
      text-align: center !important;
    }
  }
}
@include breakpoint(medium down) {
  .button-center-tablet-down {
    .fl-button-wrap {
      text-align: center !important;
    }
  }
}
@include breakpoint(medium down) {
  .fl-row.reset-tablet-and-mobile-column .fl-row-content,
  .fl-col.reset-tablet-and-mobile-column .fl-col-content {
    @include smg-row();
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.smaller-yellow-text {
  color: #ffc716 !important;
  font-size: 36px;
  line-height: 46px;
  @include breakpoint(medium down) {
    font-size: 22px;
    line-height: 28px;
  }
}
