/* Basic Elements */
h1 {
  margin: 0px 0px 30px;
  color: $h1-color;
  font-weight: 800;
  text-transform: uppercase;
}
h2 {
  margin: 0px 0px 30px;
  color: $h2-color;
  // font-weight: 800;
  font-weight: normal;
  // text-transform: uppercase;
}
h3 {
  margin: 0px 0px 30px;
  color: $h3-color;
  font-size: 24px;
  // font-weight: 700;
  font-weight: normal;
  line-height: 27px;
}
h4 {
  margin: 0px 0px 30px;
  color: $h4-color;
  font-weight: 700;
}
h5 {
  margin: 0px 0px 30px;
  color: $h5-color;
  font-weight: 700;
}
h6 {
  margin: 0px 0px 30px;
  color: $h6-color;
  font-weight: 700;
}
p {
  margin: 0px 0px 30px;
  color: $smg-black-1;
  font-size: $paragraph-font-size;
  line-height: 24px;
}
a {
  color: $brand-color-1;
  text-decoration: none;
  &:hover {
    color: $smg-gray-2;
  }
}
ul {
  li {
  }
}
li {
  font-size: $paragraph-font-size;
  a {
    font-size: $paragraph-font-size;
  }
}
blockquote {
}

.entry-content p a {
  display: inline;
}

.title-pre {
  margin-bottom: -30px;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  text-transform: uppercase;
}
.title-font,
.title-font p {
  margin-bottom: 15px;
  font-family: $title-font-family;
  font-size: 200px;
  letter-spacing: -5.71px;
  line-height: 228px;
}
.title-sub {
}

.fl-text {
}

.smg-slider {
  .slick-list {
    @include breakpoint(small down) {
      margin-bottom: 25px;
    }
  }
  .slick-arrow {
    svg {
      cursor: pointer;
    }
    svg:hover {
      path {
        fill: $smg-gray-2;
      }
    }
  }
  .slide {
    font-size: 18px;
  }
}

.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 0.1;
}
.opacity-2 {
  opacity: 0.2;
}
.opacity-3 {
  opacity: 0.3;
}
.opacity-4 {
  opacity: 0.4;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-6 {
  opacity: 0.6;
}
.opacity-7 {
  opacity: 0.7;
}
.opacity-8 {
  opacity: 0.8;
}
.opacity-9 {
  opacity: 0.9;
}
.opacity-full {
  opacity: 1;
}

/* The animation code */
@keyframes slight-next {
  0% {
    position: relative;
    transform: rotate(0deg);
  }
  40% {
    position: relative;
    transform: rotate(0deg);
  }
  50% {
    position: relative;
    transform: rotate(5deg) translateX(2px) translateY(2px);
  }
  60% {
    position: relative;
    transform: rotate(0deg);
  }
  70% {
    position: relative;
    transform: rotate(5deg) translateX(2px) translateY(2px);
  }
  80% {
    position: relative;
    transform: rotate(0deg);
  }
  100% {
    position: relative;
    transform: rotate(0deg);
  }
}

a[href='#next'] {
  display: inline-block;
  &:not(.static) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    animation-name: slight-next;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    cursor: pointer;
  }
}

.white-link-text a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: #fda500 !important;
  }
}
