.smg-slider {
  display: flex;
  align-items: center;
}
.smg-slider .slick-arrow {
  flex: 1 1 auto;
}
.smg-slider .slick-prev {
  text-align: left;
}
.smg-slider .slick-next {
  text-align: right;
}
.smg-slider .slick-list {
  max-width: 100%;
  flex: 0 0 auto;
}
.smg-slider .slide {
  text-align: left;
}
.smg-slider .slide p {
  color: #211c15;
  font-weight: 600;
  line-height: 24px;
}
.smg-slider .slide p:last-of-type {
  margin-bottom: 0px;
}
