.hubspot-certifications {
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
}
.hubspot-certifications .hub-cert {
  width: 20%;
}
.hubspot-certifications .hub-cert-image {
  text-align: center;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.hubspot-certifications .hub-cert-image img {
  max-width: 164px;
}
.hubspot-certifications .hub-cert-info {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.hubspot-certifications .hub-cert-info .hub-cert-user {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
}
.hubspot-certifications .hub-cert-info .hub-cert-name {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}
@media screen and (max-width: 74.9375em) {
  .hubspot-certifications {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hubspot-certifications .hub-cert {
    margin-bottom: 30px;
    width: 33.333%;
  }
}

@media screen and (max-width: 47.9375em) {
  .hubspot-certifications .hub-cert-image img {
    margin-left: auto;
    margin-right: auto;
  }
  .hubspot-certifications svg path {
    fill: #3f3424;
  }
  .hubspot-certifications .slick-arrow {
    width: 50%;
    text-align: center;
  }
  .hubspot-certifications .slick-prev {
    order: 1;
  }
  .hubspot-certifications .slick-next {
    order: 2;
  }
}
