.portfolio-inner {
  position: relative;
}
.portfolio-inner img {
  margin-left: auto;
  margin-right: auto;
}

.mobile-phone {
  position: absolute;
  background-image: url("../../../themes/sanctuary/library/beaver-builder/modules/smg-portfolio/css/smartphone.png");
  background-repeat: no-repeat;
  width: 312px;
  height: 543px;
  /* top: 65px; */
  top: 30px;
  left: 62px;
}
.mobile-phone img {
  position: absolute;
  top: 87px;
  left: 7px;
  max-width: 228px;
}

.mobile-inner {
  height: 492px;
  overflow: hidden;
  position: relative;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
#front-portfolio-slider .slick-prev,
#front-portfolio-slider .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
#front-portfolio-slider .slick-next {
  right: 0;
}

#front-portfolio-slider .slick-arrow svg {
  width: 60px;
}
