#wpadminbar{
  bottom: 0 !important;
  top: inherit;
}
#wpadminbar .quicklinks .menupop.hover .ab-sub-wrapper{
  top: 0;
  transform: translateY(-100%);
  position: absolute;
}
html{
  margin-top: 0px !important;
  margin-bottom: 32px !important;
}
html {
  margin-top: 0px !important;
  margin-bottom: 32px !important;
}
* html body {
  margin-top: 0px !important;
  margin-bottom: 32px !important;
}
@media screen and ( max-width: 782px ) {
	html {
    margin-top: 0px !important;
    margin-bottom: 32px !important;
  }
	* html body {
    margin-top: 0px !important;
    margin-bottom: 32px !important;
  }
}
