@mixin button {
  display: inline-block;
  padding: 15px 40px;
  background-color: #e5e5e5;
  border: 1px solid $smg-white-1;
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  @include breakpoint(medium down) {
    padding: 15px;
  }
  &:hover {
    background-color: #a6a6a6;
    color: #fff;
  }
}

@mixin button-alt {
  padding: 15px 30px;
  background-color: $brand-color-2;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  font-size: 21px;
  font-weight: 800;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    // background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(33,28,21,0.25);
  }
}

@mixin button-outline {
  // background-color: rgba(0, 0, 0, 0.1);
  // background-color: rgba(33,28,21,0.25);
  background-color: #ff8c00;
  font-weight: 800;
  &:hover { 
    // background-color: $brand-color-2;
    background-color: rgba(33, 28, 21, .25);
    color: #fff;
  }
}

.button, .input[type="submit"] /*button*/ {
  @include button;
  &.slim {
    padding: 15px 20px;
  }
  .wide {
    padding: 15px 80px;
  }
  &.max {
    display: block;
    width: 100%;
  }
  &.outline {
    @include button-outline;
  }
}

a.button-alt {
  @include button-alt();
}
.fl-module.button-alt a {
  @include button-alt();
}

.fl-button-wrap.smg_wogt a.button, .fl-module-button.smg_wogt a.button {
  @include button-outline();
}
.fl-button-wrap.smg_orange a.button, .fl-module-button.smg_orange a.button {
  @include button-alt();
}
.fl-button-wrap a.button{
  .fl-button-icon {
    vertical-align: middle;
    &.fl-button-icon-before{
      margin-right:7px;
    }
    &.fl-button-icon-after{
      margin-left:7px;
    }
  }
}