.gform_wrapper {
  .gform_heading {
    margin-bottom: 35px;
    .gform_title {
      margin-bottom: 15px;
    }
  }
  .gform_body {
    margin-top: 30px;
    .gform_fields {
      // display: block;
      display: flex;
      flex-wrap: wrap;
      margin: 0px !important;
      padding: 0 !important;
      line-height: 0px;
      padding-left: 0;
      .gfield {
        display: inline-block;
        position: relative;
        width: 100%;
        float: none;
        margin-bottom: 30px !important;
        padding-left: 0px;
        vertical-align: top;
        &:before {
          content: none !important;
        }
        &.gfield_error {
          input,
          textarea,
          select {
            background: rgba(102, 0, 0, 0.2);
          }
        }
        @include breakpoint(small down) {
          display: block;
          width: 100% !important;
          margin-left: 0px !important;
          margin-right: 0px !important;
          padding: 0px !important;
        }
        &.used > label,
        span.used > label {
          left: 0;
          top: -22px;
          font-size: 14px;
        }
        label.form-recaptcha-label {
          position: relative;
          top: 0;
          left: 0;
        }
        &.gform_validation_container {
          display: none;
        }
        .gfield_description {
          display: block;
          line-height: 21px;
          font-size: 16px;
          font-weight: 300;
        }
        &.field_description_below .gfield_description {
          margin-top: 5px;
        }
        select ~ label,
        .gfield_label_before_complex {
          // display: none;
        }
        label {
          position: absolute;
          pointer-events: none;
          top: 12px;
          left: 18px;
          color: #6a6a6a;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
          z-index: 1;
        }
        &.smg-radio-field,
        &.smg-checkbox-field {
          label {
            font-size: 16px;
            position: relative;
            top: 0;
            left: 0;
            margin-bottom: 5px;
          }
          .gfield_description {
            color: #6a6a6a;
            font-size: 65%;
          }
          .ginput_container_checkbox,
          .ginput_container_radio {
            margin-top: 5px;
          }
        }
        &.gf_list_inline {
          margin-bottom: 18px !important;
          ul.gfield_radio,
          ul.gfield_checkbox {
            display: flex;
            flex-wrap: wrap;
            li {
              margin-right: 12px;
              margin-bottom: 12px;
            }
          }
        }
        ul.gfield_radio,
        ul.gfield_checkbox {
          padding-left: 0;
          li {
            list-style-type: none;
            display: flex;
            align-items: center;
            label {
              position: relative;
              top: 0;
              left: 0;
              pointer-events: inherit !important;
            }
            input {
              display: inline-block;
              width: auto;
              margin-right: 5px;
            }
          }
        }
      }
      .gf_left_half {
        width: calc(50% - 15px);
        margin-right: 15px;
      }
      .gf_right_half {
        width: calc(50% - 15px);
        margin-left: 15px;
      }
      .gf_left_third {
        width: calc(33.3333% - 20px);
        margin-right: 20px;
      }
      .gf_center_third {
        width: calc(33.3333% - 20px);
        margin-left: 10px;
        margin-right: 10px;
      }
      .gf_right_third {
        width: calc(33.3334% - 20px);
        margin-left: 20px;
      }
      .gfield_label {
        // font-size: 18px;
        font-size: 19px;
        font-weight: 300;
        line-height: 30px;
      }
      .hidden_label {
        .gfield_label {
          display: none;
        }
      }
      .gf_address_field {
        > .gfield_label {
          display: none;
        }
      }
      .gfield_html {
        h2 {
          margin-bottom: 0px;
        }
        p {
          margin-bottom: 0px;
        }
      }
      .ginput_container {
        position: relative;
      }
      .ginput_container_address {
        span {
          @include breakpoint(small down) {
            display: block;
            width: 100% !important;
            margin-bottom: 35px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding: 0px !important;
          }
        }
        .address_line_1 {
          display: block;
          position: relative;
          margin-bottom: 35px;
        }
        .address_line_2 {
          display: block;
          position: relative;
          margin-bottom: 35px;
        }
        .address_city {
          display: inline-block;
          position: relative;
          width: calc(33.3333% - 20px);
          float: none;
          margin-right: 20px;
        }
        .address_state {
          display: inline-block;
          position: relative;
          width: calc(33.3333% - 20px);
          float: none;
          margin-left: 10px;
          margin-right: 10px;
        }
        .address_zip {
          display: inline-block;
          position: relative;
          width: calc(33.3334% - 20px);
          float: none;
          margin-left: 20px;
          @include breakpoint(small down) {
            margin-bottom: 0px !important;
          }
        }
      }
      input {
        display: block;
        width: 100%;
        padding: 8px 16px;
        // background-color: transparent;
        background-color: #fff;
        border: 1px solid rgba(114, 101, 85, 0.15); // #726555;
        // box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
        color: #726555;
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 27px;
      }
      select {
        display: block;
        height: 45px;
        width: 100%;
        padding: 9px 16px;
        // background-color: transparent;
        background-color: #fff;
        border: 1px solid rgba(114, 101, 85, 0.15); // #726555;
        // box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
        color: #726555;
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 27px;
      }
      textarea {
        display: block;
        width: 100%;
        padding: 8px 16px;
        // background-color: transparent;
        background-color: #fff;
        border: 1px solid rgba(114, 101, 85, 0.15); // #726555;
        // box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
        color: #726555;
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 27px;
      }
      ::-webkit-input-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder,
      :-moz-placeholder {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .gform_footer {
    .gform_button {
      @include button-alt();
      padding: 16px 45px;
      color: #fff !important;
      @include breakpoint(small down) {
        width: 100%;
      }
    }
  }
  .gf_readonly input {
    background: #edeff2;
    cursor: not-allowed;
  }
  .validation_error {
    display: block;
    text-align: center;
    margin-bottom: 35px;
    padding: 20px 20px;
    color: #660000;
    // font-size: 18px;
    font-size: 19px;
    border-top: 1px solid #660000;
    border-bottom: 1px solid #660000;
  }
  .validation_message {
    display: block;
    text-align: center;
    padding: 10px 20px;
    color: #660000 !important;
    // font-size: 18px;
    font-size: 19px;
    border-top: 1px solid #660000;
    border-bottom: 1px solid #660000;
    margin-top: 10px;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: 0px;
  }
}

.form-alt-design {
  input,
  textarea,
  select {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
    color: #fff !important;
  }
  label {
    color: #fff !important;
  }
  .gform_footer .gform_button {
    &:hover {
      background-color: $brand-color-2 !important;
    }
  }
}

.dark-bg-form_wrapper {
  &.gform_wrapper .gform_validation_errors {
    border-top: 1px solid #f55142 !important;
    border-bottom: 1px solid #f55142 !important;
    color: #f55142 !important;
    background-color: rgba(0, 0, 0, 0.45);
    h2 {
      font-size: 24px !important;
      margin-bottom: 0 !important;
      color: #f55142 !important;
    }
  }
  &.gform_wrapper .validation_message {
    line-height: 1 !important;
    border-top: 1px solid #f55142 !important;
    border-bottom: 1px solid #f55142 !important;
    color: #f55142 !important;
    background-color: rgba(0, 0, 0, 0.45);
  }
}

.hs-custom-style {
  fieldset
    input:not([type='image']):not([type='submit']):not([type='button']):not([type='radio']):not([type='checkbox']):not([type='file']) {
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid rgba(114, 101, 85, 0.15);
    color: #726555;
  }
  .hs-input {
    color: #726555;
  }
  .hs-button.primary {
    border: 1px solid #fff;
    font-family: 'Open Sans', sans-serif;
  }
}
