.sbi_date {
  color: #fff;
}
#sb_instagram .sbi_link .sbi_caption {
  line-height: 1.5 !important;
}
#sb_instagram .sb_instagram_header.sbi_centered {
  margin-bottom: 30px !important;
  margin-top: 50px !important;
}
#sbi_load {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
#sb_instagram .sbi_load_btn,
#sb_instagram .sbi_follow_btn a {
  display: inline-block !important;
  padding: 15px 40px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #fff !important;
  font-size: 21px !important;
  font-weight: 800 !important;
  line-height: 28px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  color: #fff !important;
  cursor: pointer !important;
}
#sb_instagram .sbi_load_btn:hover,
#sb_instagram .sbi_follow_btn a:hover {
  background-color: #fda500 !important;
  color: #fff !important;
}
#sb_instagram .sbi_follow_btn svg {
  font-size: 23px !important;
}
