.lightbox-smg {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 99999;
  &.active {
    display: block;
  }
  .lightbox-close {
    position: absolute;
    cursor: pointer;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    z-index: 2;
  }
  .lightbox-close:hover {
    opacity: 1;
  }
  .lightbox-close:before,
  .lightbox-close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
  .lightbox-close:before {
    transform: rotate(45deg);
  }
  .lightbox-close:after {
    transform: rotate(-45deg);
  }

  .overlay {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  .lightbox-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    max-width: 80%;
    margin: 0;
    text-align: center;
    img {
      max-height: 90vh;
    }
  }
  .responsive-iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
