// Google Colors
// ----------------
// Green: #34A853
// Red: #EA4335
// Blue: #4285f4
// Yellow: #fbbc05

#my-popup {
  width: 450px !important;
  border-radius: 4px;
  overflow: hidden;
  @include breakpoint(small down) {
    max-width: 450px !important;
    width: 100% !important;
  }
}
#my-popup-toolbar {
  background: none !important;
  border: none !important;
  background-color: transparent;
  #close-my-popup {
    border: none !important;
    position: absolute;
    text-indent: -99999px;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    z-index: 3;
    padding-top: 15px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 28px;
      right: 0;
      margin-top: -1px;
      background: #fff;
      z-index: 2;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
#my-popup-content {
  padding: 0 !important;
  background-color: #fff !important;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  h3 {
    display: none !important;
  }
  #my-popup-inner {
    display: flex !important;
  }
  .smg-google-ads-promo {
    display: block;
    padding: 28px 0;
    // background-image: radial-gradient(
    //   50% 70% at center,
    //   #ffc917 15%,
    //   #fda500 80%,
    //   #f98a00 100%
    // );
    background-color: #fda500;
    h2 {
      margin: 0 !important;
      color: #fff;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      text-transform: none !important;
    }
    .bar {
      height: 3px;
      width: calc(100% - 60px);
      margin: 10px auto !important;
      border-radius: 4px;
      &.blue {
        background-color: #4285f4;
      }
      &.yellow {
        background-color: #fbbc05;
      }
    }
    p {
      margin: 0 !important;
      padding: 0 15px;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
    span {
      display: block;
      margin: 0 !important;
      font-size: 9px;
      letter-spacing: 0.025em;
      line-height: 1.625;
      text-transform: uppercase;
    }
    .smg-google-ads-promo-button {
      display: inline-block;
      margin-top: 10px;
      padding: 8px 12px;
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      transition: 300ms;
      &:hover {
        background-color: #fda500;
      }
    }
  }
  .smg-google-ads-img {
    display: block;
    flex: 0 0 auto;
    img {
      max-width: none;
      height: 100%;
      width: 190px;
      object-fit: cover;
      object-position: center center;
      @include breakpoint(small down) {
        width: 160px;
      }
    }
  }
}
