#header {
  position: fixed;
  // z-index: 100;
  z-index: 12;
  width: 100%;
  transition: 300ms;
  // &.not-top {
  //   background-image: url("../images/wood-header.jpg");
  // }
  &.scroll {
    transform: translateY(-120%);
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: -1;
    transition: 300ms;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ); // rgba(0, 0, 0, 0.12) 100%
    @include breakpoint(small down) {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      ); // rgba(0, 0, 0, 0.12) 100%
      height: 150px;
    }
  }
}
#header-inner {
  @include smg-row();
  display: flex;
  padding: 25px 15px;
  margin-top: 10px;
  position: relative;
  z-index: 10;
  transition: 300ms;
  @include breakpoint(small down) {
    flex-wrap: wrap;
  }
}
#header-gradient {
  position: absolute;
  width: 100%;
  height: 10px;
  background-image: $smg-gradient-1;
  transition: 300ms;
}
#menu-right {
  flex: 1 1 auto;
  @include breakpoint(medium down) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  @include breakpoint(small down) {
    justify-content: center;
  }
  #upper-menu {
    margin-bottom: 10px;
    padding-right: 5px;
    text-align: right;
    font-size: 18px;
    font-weight: 800;
    line-height: 1;
    // text-transform: uppercase;
    color: $brand-color-2;
    transition: 300ms;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include breakpoint(medium down) {
      margin-bottom: 0;
      padding-right: 0;
    }
    a {
      color: $brand-color-2;
      display: flex;
      align-items: center;
      margin-right: 30px;
      &:last-of-type {
        margin-right: 0;
      }
      @include breakpoint(medium down) {
        font-size: 17px;
        margin-right: 0;
      }
      @include breakpoint(small down) {
        &.sch-meet {
          display: block;
          font-size: 18px;
          font-weight: bold;
        }
      }
      &:hover {
        color: #fff;
      }
      &:first-of-type i {
        padding-left: 0;
      }
      * {
        pointer-events: none;
      }
    }
    i {
      color: rgba(255, 255, 255, 0.5);
      padding-right: 5px;
      padding-left: 10px;
      font-size: 14px;
      &:last-of-type {
        font-size: 10px;
      }
    }

    i.small-only {
      display: none;
    }
    @include breakpoint(medium down) {
      // .phone-header,
      // .contact-header {
      //   border: 2px solid #fff;
      //   border-radius: 50%;
      //   width: 34px;
      //   height: 34px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   padding: 0px !important;
      //   i {
      //     color: #fff;
      //     padding: 0 !important;
      //     font-size: 17px;
      //   }
      //   span {
      //     display: none;
      //   }
      // }
      .contact-header {
        order: 1;
        margin-left: 25px;
        display: none;
      }
      .phone-header {
        order: 2;
        margin-left: 15px;
        i {
          display: none !important;
        }
      }
    }
    @include breakpoint(large up) {
      .contact-header .fa-envelope,
      .sch-meet .fa-angle-right,
      .phone-header .fa-phone {
        display: none;
      }
    }
    @include breakpoint(medium down) {
      .sch-meet .fa-angle-right {
        display: none;
      }
      .contact-header .fa-envelope,
      .phone-header .fa-phone {
        display: block;
      }
    }
    @include breakpoint(small down) {
      .phone-header,
      .contact-header,
      .sch-meet {
        // width: 39px;
        // height: 39px;
        // i {
        //   padding: 0 !important;
        // }
      }
      .contact-header,
      .phone-header {
        margin-left: 15px;
        display: none;
      }
      .sch-meet span {
        // display: none;
      }
      .sch-meet {
        // border: 2px solid #fff;
        // border-radius: 50%;
        // padding: 0px !important;
        // justify-content: center;
        // align-items: center;
        // display: flex !important;
        // i {
        //   display: none;
        //   color: #fff;
        //   &.small-only {
        //     display: block;
        //     font-size: 17px;
        //   }
        // }
      }
    }
  }
}
#logo {
  margin-top: 5px;
  max-width: 285px;
  @include breakpoint(medium down) {
    max-width: 240px;
  }
  @include breakpoint(small down) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}

#menu {
  flex: 1 1 auto;
  @include breakpoint(medium down) {
    flex: 0 0 auto;
    justify-content: flex-end;
    margin-left: 40px;
  }
  @include breakpoint(small down) {
    margin-left: 20px;
  }
  #menu-main-menu {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: flex-end;
    margin-top: 0;
    @include breakpoint(medium down) {
      display: none;
    }
    > li.menu-item {
      &:hover > a {
        // color: $brand-color-2;
        color: #fff;
        // background: rgba(0, 0, 0, 0.65);
        background-color: #fda500;
        // background-color: #726555;
      }
    }
    > li.menu-item-has-children.menu-item {
      > a {
        position: relative;
        &:after {
          content: '';
          background-image: url('../images/svg/new-menu-arrow.svg');
          background-position: right center;
          background-size: 7px 7px;
          width: 7px;
          height: 7px;
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
          @include breakpoint(medium down) {
            content: none;
          }
        }
      }
      a {
        border-left: 1px solid transparent;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
      }
      &:hover a {
        //border-left: 1px solid #fff;
        //border-top: 1px solid #fff;
        //border-right: 1px solid #fff;
      }
    }
    li {
      margin-left: 13px;
      position: relative;
      list-style-type: none;
      @include breakpoint(medium down) {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
      }
      &:first-of-type {
        margin-left: 0;
      }
      @include breakpoint(medium down) {
        &:last-of-type {
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
      }

      .dropdown {
        padding-left: 0;
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.5);
        @include breakpoint(medium down) {
          border: none;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
        li {
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          @include breakpoint(medium down) {
            border: none;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
          }
          &:first-of-type {
            border-top: none;
          }
        }
      }
      &:hover {
        @include breakpoint(large up) {
          &:last-of-type {
            right: 0;
            //   .dropdown {
            //     width: 100%;
            //   }
          }
          .dropdown {
            position: absolute;
            display: block;
            width: auto;
            // width: 250px;
            // background-color: $brand-color-1;
            background-color: #fa8a00;
            height: auto;
            opacity: 1;
            transition: 0.25s all ease;
            visibility: visible;
            li {
              white-space: nowrap;
              margin-left: 0;
              &:hover {
                // background-color: $smg-gray-2;
                background-color: #fda500;
              }
            }
          }
        }
      }
      > a {
        display: block;
        padding: 5px 15px 5px 15px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
      }
      &:last-of-type {
        .dropdown {
          right: 0;
          //     width: 100%;
        }
      }
      .dropdown {
        //display: none;
        transition: 0.25s all ease;
        width: 250px;
        height: 0;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &.open-menu {
    #menu-main-menu {
      display: block;
      position: absolute;
      width: 100%;
      padding-left: 0;
      left: 0;
      @include breakpoint(medium only) {
        top: 94px;
      }
      @include breakpoint(small down) {
        top: 146px;
      }
      li {
        background-color: $smg-gray-2;
        margin-left: 0;
        &:hover {
          background-color: $smg-gray-2;
        }
        a {
          display: block;
          padding: 15px;
        }
      }
      .dropdown {
        @include breakpoint(medium down) {
          transition: none;
        }
        li {
          background-color: $brand-color-1;
        }
        &.dropdown-open {
          display: block;
          position: relative;
          width: 100%;
          background-color: $brand-color-1;
          height: auto;
          opacity: 1;
          transition: none;
          visibility: visible;
        }
      }
      .dropdown-button {
        display: flex;
      }
    }
  }
}

.dropdown-button {
  width: 50px;
  display: none;
  height: 55px;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  transform-origin: center center;
  transition: 0.3s all ease;
  @include breakpoint(medium down) {
    display: flex;
  }
  svg {
    width: 18px;
    height: 55px;
  }
  &.dropdown-open {
    transform-origin: center center;
    transition: 0.3s all ease;
    transform: rotate(180deg);
  }
  .svg {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
}
#mobile-menu {
  display: none;
  cursor: pointer;
  @include breakpoint(medium down) {
    display: flex;
    align-items: center;
  }
  span {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 10px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
    transition: 0.4s;
  }
  .bars {
  }
  .change .bar1 {
    transform: rotate(-45deg) translate(-5px, 3px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-4px, -2px);
  }
}
.tablet-down-menu {
  display: none;
  @include breakpoint(medium down) {
    display: block;
  }
}
.mobile-down-menu {
  display: none;
  @include breakpoint(small down) {
    display: block;
  }
}
