#sb_instagram {
  #sbi_load {
    background-color: $smg-gray-1;
  }
  .sbi_load_btn,
  .sbi_follow_btn a {
    @include button();
    @include button-outline();
    border: 1px solid #fff;
  }
  .sbi_follow_btn svg {
    font-size: 23px;
  }
}
