#copyright {
  @include smg-row();
  // Layout
  display: flex;
  align-items: center;
  padding: 30px 15px;
  @include breakpoint(medium down) {
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include breakpoint(small down) {
    padding-bottom: 0;
  }
  // NON text styling
  // Font styling
  // Animations/Transforms

  #copy-1 {
    display: flex;
    align-items: center;
    @include breakpoint(medium down) {
      margin: 0 auto;
    }
    @include breakpoint(small down) {
      flex-wrap: wrap;
    }
    p {
      margin-bottom: 0;
      color: $smg-gray-1;
      font-size: 14px;

      @include breakpoint(small down) {
        width: 100%;
        text-align: center;
      }
    }
    img {
      margin-right: 17px;
      margin-bottom: 0;
      @include breakpoint(small down) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
      }
    }
  }
  #copy-3 {
    display: flex;
    align-items: center;
    @include breakpoint(small down) {
      flex-wrap: wrap;
    }
    > div {
      margin-left: 20px !important;
      height: 80px !important;
      @include breakpoint(medium down) {
        margin-left: 0 !important;
      }
      @include breakpoint(small down) {
        margin-bottom: 30px !important;
      }
    }
    @include breakpoint(medium down) {
      width: 100%;
      margin-top: 40px;
      text-align: center;
      justify-content: center;
    }
    @include breakpoint(small down) {
      margin-top: 35px;
    }
    img {
      margin-left: 20px;
      @include breakpoint(small down) {
        display: block;
        margin: 0 auto 30px auto;
      }
    }
  }
}
#footer-menu {
  @include smg-row();
  padding-left: 15px;
  padding-right: 15px;

  ul {
    margin: 0 0 45px 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    @include breakpoint(medium down) {
      flex-wrap: wrap;
    }
    @include breakpoint(small down) {
      margin-bottom: 60px;
    }
    li {
      @include breakpoint(medium down) {
        margin-bottom: 8px;
      }
      @include breakpoint(small down) {
        width: calc(50% + 11px);
        flex: 0 0 auto;
        text-align: right;
        &#menu-item-11118 {
          width: 100%;
          text-align: center;
        }
        &:nth-of-type(even) {
          width: calc(50% - 11px);
          text-align: left;
          &:after {
            content: none;
          }
        }
      }
      &:after {
        content: "|";
        padding-left: 8px;
        padding-right: 8px;
        color: #dcc791;
      }
      &:last-of-type {
        &:after {
          content: none;
        }
      }
      a {
        color: #dcc791;
        &:hover {
          color: $brand-color-1;
        }
      }
    }
  }
}
