#smg-social-bar {
  background-color: $smg-gray-1;
  #social-inner {
    @include smg-row();
    display: flex;
    padding: 30px 15px;
    align-items: center;
    @include breakpoint(medium down) {
      flex-wrap: wrap;
      padding-top: 40px;
      padding-bottom: 40px;
      // padding-bottom: 65px;
    }
    @include breakpoint(small down) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  div:first-of-type {
    flex: 1 1 auto;
    @include breakpoint(medium down) {
      margin-right: 25px;
    }
    h3 {
      margin-bottom: 0;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      @include breakpoint(small down) {
        margin-bottom: 25px;
        font-size: 26px;
        font-weight: 800;
        text-align: center;
      }
    }
    p {
      margin-bottom: 0;
      font-size: 14px;
      color: #fff;
      @include breakpoint(small down) {
        margin-bottom: 40px;
        font-size: 18px;
        text-align: center;
      }
    }
  }
  // div:nth-of-type(2) {
  //   flex: 1 1 auto;
  //   @include breakpoint(small down) {
  //     a {
  //       width: 100%;
  //       display: block;
  //       margin-bottom: 30px;
  //     }
  //   }
  // }
  .social-connect {
    // 3
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    @include breakpoint(medium down) {
      width: 100%;
      //margin-top: 45px;
      text-align: center;
    }
    @include breakpoint(small down) {
      flex-wrap: wrap;
    }
    span {
      font-size: 21px;
      font-weight: 900;
      text-transform: uppercase;
      color: #fff;
      @include breakpoint(small down) {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }
    }
    a {
      position: relative;
      display: inline-block;
      width: 37px;
      height: 37px;
      overflow: hidden;
      margin-left: 15px;
      // top: 10px;
      &.smg-facebook {
        @include breakpoint(small down) {
          margin-left: 0px;
        }
        svg {
          left: 0px;
          position: absolute;
          &:hover {
            top: -40px;
          }
        }
      }
      &.smg-instagram {
        svg {
          left: -53px;
          position: absolute;
          &:hover {
            top: -40px;
          }
        }
      }
      &.smg-linkedin {
        svg {
          left: -104px;
          position: absolute;
          &:hover {
            top: -40px;
          }
        }
      }
      &.smg-twitter {
        svg {
          left: -155px;
          position: absolute;
          &:hover {
            top: -40px;
          }
        }
      }
    }
  }
}
