#smg-lb {
  // Layout
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10000000000;
  // NON text styling
  background-color: rgba(0, 0, 0, 0.75);
  // Font styling
  // Animations/Transforms
  &.active {
    display: block;
  }
  #smg-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    .bar1 {
      width: 20px;
      height: 3px;
      background-color: #fff;
      margin: 2px 0;
      transition: 0.4s;
      transform: rotate(-45deg) translate(-4px, 3px);
    }
    .bar3 {
      transform: rotate(45deg) translate(0px, 0px);
      width: 20px;
      height: 3px;
      background-color: #fff;
      margin: 2px 0;
      transition: 0.4s;
    }
  }
  #smg-lb-cont {
    position: absolute;
    width: 100%;
    max-width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
