@-webkit-keyframes smg-fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes smg-fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#grow-with-us {
  // background-image: url("../images/grow-with-us-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include breakpoint(medium only) {
    background-position: top right;
  }
  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  p a {
    color: $brand-color-2;
    font-weight: 900;
    &:hover {
      color: #fff;
    }
  }
  #grow-inner {
    @include smg-row();
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 87px;
    padding-bottom: 140px;
    position: relative;
    z-index: 1;
    @include breakpoint(medium only) {
      padding-top: 135px;
      padding-bottom: 215px;
    }
    @include breakpoint(small down) {
      padding-top: 63px;
      padding-bottom: 30px;
    }
  }
  #grow-button-bar {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(small down) {
      flex-wrap: wrap;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    a {
      margin-right: 24px;
      flex: 1 1 auto;
      @include breakpoint(medium only) {
        font-size: 21px;
      }
      @include breakpoint(small down) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  h3 {
    // Layout
    // NON text styling
    // Font styling
    font-family: $title-font-family;
    font-size: 225px;
    line-height: 1;
    letter-spacing: -5px;
    color: $brand-color-2;
    text-align: center;
    font-weight: normal;
    // &.active {
    //   animation: smg-fade-up 1s ease;
    // }

    // Animations/Transforms
    @include breakpoint(medium only) {
      font-size: 165px;
    }
    @include breakpoint(small down) {
      font-size: 125px;
      line-height: 105px;
    }
  }
  p {
    //max-width: 768px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 35px;
    color: #fff;
    //text-transform: uppercase;
    text-align: center;
    line-height: 43px;
    @include breakpoint(medium only) {
      font-size: 26px;
    }
    @include breakpoint(small down) {
      //max-width: 300px;
      line-height: 2.4rem;
      font-size: 24px;
    }
  }
}
.smg-lazy-load {
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
