.entry-content {
  .fl-row {
    .fl-col {
      .right-aligned-text {
        .fl-text {
          @include breakpoint(small down) {
            text-align: left;
            display: block;
          }
          p {
            @include breakpoint(small down) {
              text-align: left;
            }
          }
        }
      }
      .fl-number-before-text {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.5;
        font-weight: 600;
        font-size: 21px;
        color: #ffffff;
      }
    }
  }
}

/*
 * Custom Single Page CSS (Ultra Customized)
 */
.postid-11076 {
  #team-single #team-header {
    @include breakpoint(small down) {
      background-position: calc(50% - -149px) center;
    }
  }
}

.postid-11042 {
  #team-single #team-header {
    @include breakpoint(small down) {
      background-position: calc(50% - 150px) center;
    }
  }
}

.page-id-11538 {
  .ls-flex-row {
    .fl-col-group {
      display: flex;
      flex-wrap: wrap;
    }
    .fl-col {
      display: block;
      width: 33.3333% !important;
      float: none !important;
      @include breakpoint(medium down) {
        width: 50% !important;
      }
      @include breakpoint(small down) {
        width: 100% !important;
      }
    }
  }
  .ls-title {
    color: $brand-color-2;
    font-size: 30px;
    font-weight: 400;
    line-height: 2.2rem;
  }
  .ls-real-results {
    h2 {
      margin-bottom: 20px;
      color: $brand-color-2;
      font-size: 30px;
    }
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    strong {
      color: $brand-color-2;
      font-size: 22px;
      font-weight: 900;
    }
  }
}

.page-id-14880,
.page-id-14891 {
  @include breakpoint(small down) {
    .custom-gradient-h1 h1 span.gradient-text {
      font-size: 42px;
    }
    .custom-gradient-h1 h1 {
      font-size: 32px;
    }
    #seo-landing-header ul li {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.page-id-14871 {
  .fl-row[data-node] .fl-row-content-wrap {
    @include breakpoint(small down) {
      background-position: -230px center;
    }
  }
}

@include breakpoint(small down) {
  .page-id-14857 {
    #seo-landing-header {
      position: relative;
      .fl-row-content-wrap {
        background-position: left top;
        &:before {
          content: '';
          display: block;
          background: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .fl-row-content {
          z-index: 2;
        }
      }
    }
    .fl-node-5f7fbc5b52cf2 {
      position: relative;
      z-index: 2;
    }
  }
}

.white-text-slider {
  .slick-slide {
    color: #fff;
  }
}
.white-blog-text {
  .entry-title a,
  .entry-content {
    color: #fff !important;
  }
  .entry-title a:hover {
    color: #fda500 !important;
  }
}

.custom-hub-smg {
  margin-bottom: 20px !important;
  .hs-input {
    display: block;
    width: 100% !important;
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid rgba(114, 101, 85, 0.15);
    color: #726555;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  fieldset {
    margin-bottom: 10px !important;
  }
  .hs-button.primary {
    margin-top: 10px !important;
    @include button-alt();
    padding: 16px 45px;
    color: #fff !important;
    width: 100% !important;
  }
  .hs-error-msgs {
    padding-left: 0;
    list-style-type: none;
    li {
      text-align: center;
      padding: 10px 20px;
      margin-right: 10px;
      border-top: 1px solid #600;
      border-bottom: 1px solid #600;
      label {
        color: #600;
      }
    }
  }
}
.hs-no-label .custom-hub-smg {
  .hs-form-field {
    margin-bottom: 10px;
    label:not(.hs-error-msg) {
      display: none;
    }
    &.hs-recaptcha {
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }
  .hs-button.primary {
    background-color: #ff8c00;
    &:hover {
      background-color: rgba(33, 28, 21, 0.25);
    }
  }
}
.review-external {
  @include smg-row();
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  > div {
    margin-right: 30px;
    margin-bottom: 30px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.hard-responsive-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.brown-website-label {
  background-color: #524d43;
  padding: 8px 14px;
  align-self: flex-start;
  p {
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
  }
}

.responsive-image-row {
  .fl-col-content {
    min-height: 0 !important;
    padding-top:59.5% !important;
    background-size: cover !important;
  }
}