// Universal Class for homepage sections with similar styling
.front-cta {
  text-align: center;
  .button {
    display: inline-block;
    text-decoration: none;
    span {
      font-size: 21px;
      line-height: 28px;
    }
  }
}

.front-video-position {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0;
  overflow: hidden !important;
  @include breakpoint(medium down) {
    padding-top: 0 !important;
    height: 650px !important;
  }
  @include breakpoint(small down) {
    height: 870px !important;
    //height: auto !important;
  }
  .responsive-iframe {
    @include breakpoint(medium only) {
      height: 650px !important;
      .smg-youtube .play-button {
        z-index: 10;
        bottom: 0px;
        top: auto;
        left: auto;
        right: 50px;
        transform: none;
      }
    }
    @include breakpoint(small down) {
      height: 870px !important; // 773px !important;
      //height: auto !important;
      .smg-youtube .play-button {
        z-index: 10;
        bottom: 0px;
        top: auto;
        transform: translateX(-50%);
      }
    }
  }
  // iframe {
  //   border: 0px !important;
  //   transform: none !important;
  //   min-width: 100% !important;
  //   min-height: 100% !important;
  //   max-width: 100% !important;
  //   position: absolute !important;
  //   top: 0px !important;
  //   left: 0px !important;
  //   height: 0 !important;
  //   width: 0 !important;
  //   @include breakpoint(medium down) {
  //     min-width: 110vh !important;
  //     top: 50% !important;
  //     left: 50% !important;
  //     transform: translate(-50%, -50%) !important;
  //   }
  // }
}
.fl-builder-content-editing .front-video-position {
  position: relative;
}

// [smg_yt embed="_U9PJ4OJtFA" background="true" pause="false" sound="false"]

// Front Page Hero Section
.front-hero {
  .fl-row-content-wrap {
    @include breakpoint(medium down) {
      height: 650px !important;
    }
    @include breakpoint(small down) {
      height: 860px !important; // 773px !important;
      //height: auto !important;
    }
  }
  .fl-row-content {
    position: relative !important;
    z-index: 1 !important;
    height: 56.25vw !important;
    padding-top: 150px !important;
    @include breakpoint(medium only) {
      display: flex;
      // padding-top: 130px !important;
      padding-top: 0 !important;
      align-items: center;
    }
    @include breakpoint(small down) {
      height: auto !important;
      padding-bottom: 0px;
      padding-top: 190px !important;
    }
  }
  .fl-node-5bef21879fdec {
    width: 100%;
    @include breakpoint(large up) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.smg-yt-short {
  position: relative;
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    z-index: 0;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
  }
}

// Front Page Marketing Section
.front-marketing {
  background-image: $smg-gradient-3;
}

// Front Page Partnership Section
// .front-partnership {
//   // background-image: url(../images/bird.png), $smg-gradient-4; // Reset in beaver builder
//   background-image: url(../images/svg/bird-2.svg), $smg-gradient-4;
//   background-position: center 100%, center center;
//   background-repeat: no-repeat;
//   background-size: 651px, cover;
//   background-attachment: local, fixed;
//   @include breakpoint(medium down) {
//     background-image: $smg-gradient-4;
//     background-size: cover;
//   }
// }

// Front Page Hello Section
.front-hello {  
  overflow: hidden; 
  @include breakpoint(medium only) {
    .responsive-iframe .smg-youtube .play-button {
      z-index: 10;
      bottom: 0px;
      top: auto;
      left: auto;
      right: 50px;
      transform: none;
    }
  }
  @include breakpoint(small down) {
    .responsive-iframe .smg-youtube .play-button {
      z-index: 10;
      bottom: 0px;
      top: auto;
      transform: translateX(-50%);
    }
  }
  .fl-node-5be4ab35b28d9 {
    position: relative;
    z-index: 1;
  }
  .fl-node-5d6ea6753dafc {
    position: static;
    z-index: 1;
  }
  .smg-yt-short {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

// Full Funnel Section
#homepage-full-funnel > .fl-row-content-wrap > .fl-row-content {
  @include breakpoint(medium down) {
    max-width: 710px;
    h3.fl-heading {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }
}

.front-real-results {
  background-image: $smg-gradient-2;
  @include breakpoint(small down) {
    .fl-node-5bedd4b399644 {
      .node-5bedd4b399644 .slick-list {
        width: 100%;
      }
    }
  }
}
