#archive,
.fl-smg-posts {
  .archive-content {
    padding: 20px 0px 65px;
  }
  .index-entries {
    @include smg-row();
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    @include breakpoint(large up) {
      max-width: calc(1200px - 60px);
    }
    @include breakpoint(medium down) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .entry {
    width: 33.3333%;
    margin-bottom: 60px;
    padding: 0px 30px;
    text-align: center;
    @include breakpoint(medium down) {
      width: 50%;
      &:nth-of-type(odd) {
        padding-left: 0px;
        padding-right: 30px;
      }
      &:nth-of-type(even) {
        padding-left: 30px;
        padding-right: 0px;
      }
    }
    @include breakpoint(small down) {
      width: 100%;
      padding-left: 0px !important;
      padding-right: 0px !important;
    } 
    .entry-image {
      height: 240px;
      margin-bottom: 25px;
      overflow: hidden;
      line-height: 0px;
      a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
      img {
        //max-height: 100%;
        //max-width: none;
        //height: 100%;
        //width: auto;
        line-height: 0px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .entry-title {
      margin-bottom: 10px;
      color: #000;
      // font-size: 24px;
      // font-weight: 400;
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      text-align: left;
      a {
        color: #000;
        &:hover,
        &.hovered {
          color: $brand-color-2;
        }
      }
    }
    .entry-content {
      padding: 0px;
      color: #000;
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
      p {
        font-size: 16px;
        line-height: 25px;
      }
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  // Please format pagination buttons consistent with the other buttons. White border and text, etc. You might consider making the numbers ultra bold to match the text on the regular buttons.

  .pagination {
    display: block;
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0px;
      padding: 0px;
    }
    li {
      margin: 10px 5px;
      list-style: none;
    }
    span,
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 38px;
      width: 38px;
      background-color: rgba(0, 0, 0, 0.1);
      // border: 1px solid rgb(114, 101, 85);
      border: 1px solid #fff;
      color: #fff; // rgb(114, 101, 85);
      font-weight: 700;
    }
    a:hover {
      color: #fff;
      // background-color: rgb(114, 101, 85);
      background-color: $brand-color-2;
    }
    span.current {
      // background-color: rgba(114, 101, 85, 0.2);
      background-color: rgba(253, 165, 0, 0.8);
    }
  }
}
.post-type-archive-study {
  #archive {
    .archive-content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.blog,
.archive {
  #archive header h1 {
    font-size: 125px;
    font-family: $title-font-family;
    @include breakpoint(medium only) {
      font-size: 80px;
    }
    @include breakpoint(small down) {
      font-size: 65px;
      line-height: 60px;
    }
  }
}
#archive,
.fl-smg-posts {
  .entry .entry-image a {
    background-color: #fff;
  }
}

.fl-smg-posts {
  .fl-smg-posts-title {
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: none;
  }
  .fl-smg-posts-author {
    font-size: 18px;
    font-weight: 700;
  }
  .archive-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .entry {
    margin-bottom: 2rem;
  }
  .index-entries {
    @include breakpoint(large up) {
      max-width: none;
      margin-left: -30px;
      margin-right: -30px;
    }
    @include breakpoint(medium down) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include breakpoint(small down) {
  #smg-2006 {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.not-beaver-builder {
  @include smg-row();
  padding: 60px 15px;
}
#gform_wrapper_13 .hide_roi {
  display: none !important;
}
#gform_wrapper_13 .got-everything-filled-out {
  margin-left: 0 !important;
  width: 100% !important;
}
#gform_wrapper_13 .got-everything-filled-out h3 {
  font-size: 21px;
}
.roi-values-cont {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  h4 {
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
  }
}

.iframe-container {
  .fl-embed-video {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

#archive {
  .button.outline,
  .download-white-paper {
    padding: 15px;
    margin-top: 30px;
    width: 100%;
  }
  #white-paper-archive-content {
    // padding-bottom: 60px;
  }
}
