.subpage {
  header {
    background-image: url("../images/wood-header-2.jpg");
    // background-image: url('../images/header-background.jpg')
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    time,
    p {
      display: block;
      text-align: center;
      color: #fff;
      margin-bottom: 0;
    }
    p:last-of-type {
      padding-bottom: 20px;
    }
    h1 {
      @include smg-row();
      padding: 145px 15px 20px 15px;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      text-transform: none;
      color: #fff;
      @include breakpoint(medium only) {
        font-size: 80px;
      }
      @include breakpoint(small down) {
        font-size: 65px;
        line-height: 60px;
        padding-bottom: 60px;
      }
      &.scripty {
        padding: 185px 15px 60px 15px;
        font-family: $title-font-family;
        font-size: 125px;
        line-height: 110px;
        @include breakpoint(medium only) {
          padding-top: 125px;
          font-size: 80px;
          line-height: 90px;
        }
        @include breakpoint(small down) {
          // font-size: 65px;
          // line-height: 70px;
          font-size: 77px;
          line-height: 72px;
        }
      }
      &.nonscripty {
        padding: 145px 15px 40px 15px;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.4;
        @include breakpoint(medium down) {
          font-size: 65px;
          line-height: 40px;
        }
      }
    }
    > h2 {
      @include smg-row();
      padding: 145px 15px 20px 15px;
      margin-bottom: 0;
      font-size: 125px;
      font-family: $title-font-family;
      font-weight: normal;
      text-align: center;
      text-transform: none;
      color: $brand-color-2;
      @include breakpoint(medium only) {
        padding-top: 105px;
        font-size: 80px;
      }
      @include breakpoint(small down) {
        padding-top: 185px;
        padding-bottom: 75px;
        font-size: 65px;
        line-height: 60px;
      }
    }
  }
  .why-sanctuary-animation {
    .fl-text {
      flex-wrap: wrap;
      p {
        display: block;
        flex: 0 0 auto;
        width: 100%;
        span {
          display: block;
          width: 0%;
          flex: 0 0 auto;
          overflow: hidden;
          transition: 1s;
        }
        &.active {
          span {
            width: 100%;
          }
        }
      }
    }
  }
  &#post {
    #post-breadcrumbs {
      margin-left: 15px;
      margin-right: 15px;
      @include breakpoint(small down) {
        display: none;
      }
    }
    .post-title-entry {
      margin-top: 30px;
      margin-left: 15px;
      margin-right: 15px;
      @include breakpoint(small down) {
        .byline {
          margin-bottom: 10px;
        }
      }
      time.updated,
      .byline {
        font-style: italic;
        font-size: 14px;
      }
    }
    h1 {
      font-family: $body-font-family;
      // font-size: 40px;
      // line-height: 1.1;
      font-weight: 800;
      line-height: 55px;
      text-transform: uppercase;
      font-size: 45px;
      color: #fff;
      padding-bottom: 50px;
      @include breakpoint(medium only) {
        font-size: 32px;
      }
      @include breakpoint(small down) {
        font-size: 30px;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
    .entry-content {
      // padding: 70px 0px 110px;
      padding: 40px 0px 110px;
    }
  }
}

#post {
  .post-content {
    img {
      @include breakpoint(small down) {
        display: block;
        margin: 20px auto 20px;
        padding: 0;
        float: none;
      }
    }
  }
}

#not-found-page {
  .container {
    @include smg-row();
    padding: 45px 15px;
  }
}
