.fl-module-portfolio-item .fl-module-content {
  margin-left: 0;
  margin-right: 0;
}
.fl-module-portfolio-item .fl-module-content a {
  width: 100%;
  height: 400px;
  display: block;
}
.fl-module-portfolio-item .fl-module-content a p {
  color: #fff;
}
.fl-module-portfolio-item .fl-module-content a .after p:first-of-type {
  margin-bottom: 30px;
}
