@font-face {
  font-family: 'selimaregular';
  src: url('../fonts/selima_-webfont.eot');
  src: url('../fonts/selima_-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/selima_-webfont.woff') format('woff'),
       url('../fonts/selima_-webfont.ttf') format('truetype'),
       url('../fonts/selima_-webfont.svg#selimaregular') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+000-5FF; /* Latin glyphs */
  font-display: swap;
} 
