@media (max-width: 768px) {
  #full-funnel-learn-more {
    display: block;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .full-funnel-module .funnel-photo svg {
    max-width: 100%;
    height: auto;
  }
  .interactive-popup.open-mobile {
    display: block;
  }
  .interactive-popup.open-mobile .inter-pop-inner {
    max-width: 100%;
  }
  .interactive-popup.open-mobile .inter-pop-inner,
  .interactive-popup.open-mobile .inter-pop-inner h3,
  .interactive-popup.open-mobile .inter-pop-inner .inter-pop-content {
    text-align: left;
  }
  .interactive-popup .pop-close {
    display: none;
  }
}
@media (min-width: 768px) {
  .full-funnel-module .funnel-photo svg g:hover > polygon {
    fill: #dfdbce;
  }
}
