@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}
.full-funnel-module {
  position: relative;
}
.full-funnel-module .funnel-photo {
  display: block;
  text-align: center;
}

.full-funnel-module .funnel-photo svg g {
  cursor: pointer;
}

.interactive-popup {
  display: none;
}
.interactive-popup.open {
  display: flex;
  position: absolute;
  width: 735px;
  height: 735px;
  top: 50%;
  left: 50%;
  opacity: 0.9;
  background-image: radial-gradient(50% 100%, #fda500 0%, #f98a00 100%);
  border: 2px solid #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.interactive-popup .pop-close {
  position: absolute;
  z-index: 100;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 21px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  cursor: pointer;
}
.inter-pop-inner {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}
.inter-pop-inner h3,
.inter-pop-inner .inter-pop-content {
  width: 100%;
  text-align: center;
}
.interactive-popup.open .inter-pop-inner h3 {
  font-size: 55px;
  margin-bottom: 11px;
  color: #fff;
}
.interactive-popup.open .inter-pop-inner .inter-pop-content p {
  font-size: 24px;
  color: #fff;
}
#full-funnel-learn-more {
  display: none;
}
.full-funnel-module .funnel-photo svg g > polygon {
  transition: 300ms;
}
.full-funnel-module .funnel-photo svg g:hover > polygon {
  /* fill: #716555; */
}
.full-funnel-module .funnel-photo svg g circle[stroke-width="2"] {
  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.full-funnel-module .funnel-photo svg #loyalty:hover > polygon {
  fill: #925002;
}
.full-funnel-module .funnel-photo svg #retention:hover > polygon {
  fill: #a75a02;
}
.full-funnel-module .funnel-photo svg #purchase:hover > polygon {
  fill: #c56a01;
}
.full-funnel-module .funnel-photo svg #intent:hover > polygon {
  fill: #c78232;
}
.full-funnel-module .funnel-photo svg #consideration:hover > polygon {
  fill: #d49636;
}
.awareness-popup {
  padding-top: 30px;
}
