#page .smg-faqs {
  .item.faq-toggle {
    .item-title {
      background-color: $smg-gray-2;
      cursor: pointer;
      h3 {
        color: #fff;
      }
      .item-toggle {
        background-color: $brand-color-1; 
        &:before, &:after{
          background-color: #fff;
        }
      }
    }
    .item-content { 
      background-color: $smg-gray-3;
      ul {
        margin-bottom: 20px;
      }
    }
  }
}