@import 'modules/icon';
@import 'modules/buttons';
@import 'modules/featured-studies';
@import 'modules/real-results';
@import 'modules/portfolio';
@import 'modules/simple-text';

.force-mobile-row {
  @include breakpoint(small down) {
    .fl-row-content {
      max-width: 380px !important;
    }
  }
}

.fl-row-content.fl-row-fixed-width {
  @include breakpoint(large up) {
    max-width: 1200px;
  }
  @include breakpoint(medium only) {
    max-width: 768px;
  }
  @include breakpoint(small down) {
    max-width: 380px;
  }
  &.fl-row-full-width {
    max-width: none !important;
  }
}
.skinny {
  &.fl-col {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(large up) {
    .fl-row-content,
    &.fl-col {
      max-width: 830px;
    }
  }
  @include breakpoint(medium only) {
    &.fl-col,
    &.fl-col .fl-row-content {
      max-width: 570px;
    }
    &.skinny-desktop-only {
      max-width: 768px;
    }
  }
  @include breakpoint(small down) {
    &.fl-col,
    &.fl-col .fl-row-content {
      max-width: 380px;
    }
  }
}
.fl-col {
  &.align-center {
    text-align: center;
  }
}

.fl-builder-content .fl-module-content {
  margin-top: 0px;
  margin-bottom: 0px;
}
.page[role='main'] .entry-content .fl-builder-submenu ul li:before {
  content: none !important;
}

.fl-accordion-button {
  h2 {
  }
}

.row-radial-gradient-1 {
  background-image: $smg-gradient-1;
}
.row-radial-gradient-2 {
  background-image: $smg-gradient-2;
}
.row-radial-gradient-3 {
  background-image: $smg-gradient-3;
}
.row-radial-gradient-4 {
  background-image: $smg-gradient-4;
}
@include breakpoint(small down) {
  #value-promise,
  #value-our-value {
    .fl-row-content-wrap {
      min-height: inherit;
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }
  #value-our-value {
  }
}
@include breakpoint(small down) {
  .single-post .skinny {
    &.fl-col,
    &.fl-col .fl-row-content {
      margin-left: auto;
      margin-right: auto;
      //margin-left: 15px;
      //margin-right: 15px;
    }
  }
}
@include breakpoint(small down) {
  .fl-node-5ca3b9fe06501 .fl-text p {
    text-align: left;
  }
}
.fl-button-width-full {
  a.button {
    display: block;
  }
}

.fl-module-rich-text {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 10px;
    margin-top: 20px;
  }
  h2 + ul,
  h3 + ul,
  h4 + ul,
  h5 + ul,
  h6 + ul {
    margin-top: 0;
  }
  ul {
    margin-bottom: 30px;
  }
}
