.marketing-section-1 {
}
.marketing-section-2 {
  .fl-row-content-wrap {
    background-image: url(https://www.sanctuarymg.com/wp-content/uploads/2018/11/homemade-background-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(medium only) {
      background-position: center top;
      background-size: 767px;
    }
    @include breakpoint(small down) {
      background-position: center top;
      background-size: auto 960px;
    }
  }
}
.marketing-section-3 {
}

.why-section-1 {
}
.why-section-2 {
}
.why-section-3 {
}
#smginfinitescroller {
  display: none;
  margin: 30px auto;
  border: 6px solid #3f3424; //#f3f3f3; /* Light grey */
  border-top: 6px solid #fda500; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
