.case-studies-row {
  width: 100%;
  h1 {
    color: $smg-gray-2;
  }
  &:nth-of-type(odd) {
    background-color: #ede0be;
  }
  &:nth-of-type(even) {
    background-color: #f2e8d1;
  }
  &:nth-of-type(even) {
    .case-studies-image {
      order: 3;
      text-align: right;
    }
    .case-studies-content {
      margin-left: 0;
      margin-right: 60px;
      @include breakpoint(medium down) {
        margin: 0;
      }
    }
  }
}
.case-studies-intro {
  @include smg-row();
  // max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 65px; // 75px;
  padding-bottom: 45px; // 75px;
  @include breakpoint(medium only) {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  @include breakpoint(small down) {
    padding-bottom: 35px;
  }
  h2 {
    margin-bottom: 25px;
    color: #726555;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
  }
  p {
    margin-bottom: 30px;
    color: $smg-black-1;
    font-size: 18px;
    line-height: 27px;
  }
}
.case-studies-inner {
  display: flex;
  align-items: center;
  @include smg-row();
  max-width: 100%;

  @include breakpoint(1750px down) {
    max-width: 100%;
    min-height: 600px;
  }
  // padding-left: 15px;
  // padding-right: 15px;
  height: 100%;
  @include breakpoint(small down) {
    flex-wrap: wrap;
    .button {
      width: 100%;
    }
  }
}
.case-studies-image {
  flex: 0 0 auto;
  width: 50%;
  order: 1;
  height: 100%;
  background-size: cover;
  background-position: center center;
  @include breakpoint(1750px down) {
    position: relative;
    overflow: hidden;
  }

  @include breakpoint(medium only) {
    width: 50%;
    flex: 0 0 auto;
  }
  @include breakpoint(small down) {
    order: 1 !important;
    width: 100%;
    height: 400px;
  }
  img {
    display: inline-block;
    width: 100%;
    @include breakpoint(1750px down) {
      position: absolute;
      width: auto;
      max-width: none;
      height: 100% !important;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.case-studies-content {
  flex: 1 1 auto;
  order: 2;
  // margin-left: 60px;
  margin-left: 0;
  margin-right: 0;
  // padding-top: 25px;
  // padding-bottom: 25px;
  padding: 60px;
  @include breakpoint(1300px down) {
    padding: 30px 60px;
  }
  @include breakpoint(medium only) {
    width: 50%;
    flex: 0 0 auto;
    padding: 50px;
  }
  @include breakpoint(small down) {
    padding: 65px 15px;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 380px;
    .button {
      width: 100%;
    }
  }
  .logo {
    margin-bottom: 15px;
    @include breakpoint(small down) {
      text-align: center;
    }
    svg,
    img {
      // max-height: 150px;
      // max-width: none;
      // width: auto;
    }
  }
  h2 {
    margin-bottom: 25px;
  }
  .case-studies-item {
  }
}
@include breakpoint(medium only) {
  .post-type-archive-study .case-studies-content {
    padding: 50px 15px;
  }
}
