.white-paper {
  .archive-content {
  }
  .white-paper-intro {
    width: 100%;
    background-color: #ede0be;
    h2 {
      color: $smg-gray-2;
    }
  }
  .intro-text {
    @include smg-row();
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 65px; // 75px;
    padding-bottom: 45px; // 75px;
    text-align: center;
    @include breakpoint(medium only) {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    @include breakpoint(small down) {
      padding-bottom: 35px;
    }
    h2 {
      margin-bottom: 25px;
      color: #726555;
      font-size: 35px;
      font-weight: 400;
      line-height: 45px;
    }
    p {
      margin-bottom: 30px;
      color: $smg-black-1;
      font-size: 18px;
      line-height: 27px;
    }
  }
  &#post {
    .entry-content {
      padding-top: 0 !important;
    }
  }
}
.post-type-archive-white-paper {
  #archive.white-paper {
    header {
      h1.entry-title {
        font-family: open sans, sans-serif;
        font-weight: 800;
        line-height: 55px;
        text-transform: uppercase;
        font-size: 45px;
        color: #fff;
        padding-bottom: 50px;
      }
    }
    .index-entries .entry {
      display: flex;
      flex-direction: column;
      .entry-content {
        flex: 1;
      }
    }
  }
}
