.archive-content-filter {
  @include smg-row();
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 40px;
  @include breakpoint(small down) {
    flex-wrap: wrap;
  }
  a {
    margin: 0px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    @include breakpoint(small down) {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &:hover,
    &.active {
      color: $brand-color-2;
      background-color: $smg-gray-2;
    }
  }
}
.portfolio-mag {
  display: none;
}
.post-type-archive-portfolio {
  .portfolio-mag {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 25px;
    color: $smg-gray-3;
  }
}
