.review-content {
  @include smg-row();
  display: flex;
  max-width: 830px;
  width: 100%;
  margin: 0px auto 50px;
  padding: 40px 15px;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include breakpoint(small down) {
    flex-wrap: wrap;
    padding: 40px 25px;
  }
  .image {
    flex: 0 0 auto;
    width: 33.3333%;
    margin-right: 45px;
    margin-left: 5px; // 15px
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(small down) {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }
  }
  .content {
    flex: 1 1 auto;
    width: 100%;
  }
  .entry-content {
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    p:last-of-type {
      margin-bottom: 0;
    }
    @include breakpoint(small down) {
      width: 100%;
    }
  }

  .entry-title {
  }
}
.reviews.author {
  margin-top: 15px;
  span {
    display: flex;
    justify-content: flex-start;
    font-style: italic;
    @include breakpoint(small down) {
      flex-wrap: wrap;
    }
    strong {
      font-style: normal;
    }
  }
}

.archive .review-content {
  @include smg-row();
  width: calc(100% - 30px);
  margin-bottom: 50px;
  padding: 40px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

#client-reviews-intro {
  @include smg-row();
  padding: 45px 15px 40px 15px;
}
