.archive-preview-blocks {
  display: flex;
  flex-wrap: wrap;
  padding: 0px !important;
  h1,
  h2 {
    color: #726555;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    text-transform: inherit;
  }
  h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
.archive-team-blocks {
  .preview-content-block {
    transition: all ease 0.3s;
    // background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @include breakpoint(1800 up) {
      height: 27vw;
    }
    @include breakpoint(medium down) {
      height: 41vw;
    }
    @include breakpoint(small down) {
      // min-height: 380px;
      // max-height: 380px;
      // width: 100%;
      min-height: inherit;
      height: 83vw;
      background-size: 100% auto;
    }
    &:hover {
      transition: all ease 0.3s;
      // background-size: 105% auto;
      background-size: 105% auto;
    }
    &:before {
      // background-color: rgba(0, 0, 0, 0.8);
      content: none;
    }
    .after {
      background-color: rgba(0, 0, 0, 0.5);
      transform: translateX(-50%);
      bottom: 0px;
      top: initial;
      opacity: 1;
      h2 {
        font-size: 40px;
        @include breakpoint(medium down) {
          font-size: 33px;
        }
        @include breakpoint(small down) {
          font-size: 32px;
        }
      }
      p {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 600 !important;
        @include breakpoint(small down) {
          font-size: 17px;
        }
      }
    }
  }
}
.preview-content-block {
  position: relative;
  height: 35vw;
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint(1800) {
    height: 30vw;
    width: 33.3333%;
    // .after h2 {
    //   font-size: 20px;
    // }
  }
  @include breakpoint(medium down) {
    height: 45vw;
  }
  @include breakpoint(small down) {
    min-height: 380px;
    max-height: 380px;
    width: 100%;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); // rgba(250, 138, 0, 0.9);
    opacity: 0;
    transition: 300ms;
    z-index: 1;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
    .before {
      opacity: 0;
    }
    .after {
      opacity: 1;
    }
  }
  .before {
    position: absolute;
    height: auto;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    text-align: center;
    opacity: 1;
    transition: 300ms;
    img,
    svg {
      display: inline-block;
      max-width: 390px;
      height: auto;
      width: 100%;
    }
  }
  .after {
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: 300ms;
    z-index: 2;
    *:last-child {
      margin-bottom: 0px;
    }
  }
  h2 {
    margin-bottom: 0px;
    color: #fff;
    font-size: 63px;
    font-weight: 700;
    line-height: 1.1em;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint(1800) {
      font-size: 55px;
    }
    @include breakpoint(medium down) {
      font-size: 42px;
    }
    @include breakpoint(small down) {
      font-size: 42px;
    }
  }
  p {
    margin-bottom: 0;
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1rem;
    text-align: center;
    text-transform: uppercase;
  }
}
.preview-nocontent-block {
  background-color: rgba(0, 0, 0, 0.7);
  &:before {
    content: none !important;
  }
  .before {
    opacity: 1 !important;
  }
  &:last-of-type {
    border-left: 1px solid #fff;
  }
}
